<h1>建物編集</h1>

<%= form_for(@building) do |f| %>
  <%= f.label :building_number, '建物ID' %>
  <%= f.text_field :building_number %><br>
  <%= f.label :name, '建物名' %>
  <%= f.text_field :name %><br>
  <%= f.label :facility_id, '対象施設' %>
  <%= f.collection_select :facility_id, Facility.all, :id, :name %><br>
  <%= f.label :construction_year, '施行年度' %>
  <%= f.text_field :construction_year %><br>
  <%= f.label :floor_area, '延床面積' %>
  <%= f.text_field :floor_area %>㎡<br>
  <%= f.label :last_updated_user_id, '最終更新者（非表示にする予定）' %>
  <%= f.text_field :last_updated_user_id %><br>
  <%= hidden_field_tag :previous_facility_id , @building.facility_id %>
  
  <%= f.submit '確定' %>
<% end %>